@page "/BookDetails/{Isbn:long}"
@inject NavigationManager _navigationManager
@inherits BookDetailsBase

@if (Book == null)
{
    <span>@Message</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper">
            <img class="media-img" src="@Book.ImageUrl" alt="@Book.Title"/>
        </div>
        <div class="media-body">
            <h2 class="mb-0">@Book.Title</h2>
            <p>@Book.Description</p>
            <h4 class="price">
                $@Book.Price
            </h4>
            <button class="btn btn-primary" @onclick="AddToCart">
                <i class="oi oi-cart">Add to Cart</i>
            </button>
            <button class="btn btn-primary" onclick="@((()=> _navigationManager.NavigateTo("/Cart")))">
                            <i class="oi oi-basket">Go to Shopping Cart</i>
                            </button>
        </div>

    </div>
}


