@page "/EmployeePanel"
@using ModelClasses
@using ModelClasses.Contracts
@using UIElements
@inject IOrdersDao dao
@inject NavigationManager navMgr

<h3>Employee Panel</h3>

<div class="filterbar">
    <div class="filterscontainer">
        <img src="img/@(doShowFilters?"clear_" : "")funnel.png" 
        class="icon" 
        @onclick="OpenCloseFilters"/>
        
        @if (doShowFilters)
        {
            <div class="filter">
                <div>
                    <label style="text-align: center">Is dispatched?</label>
                </div>
                <div>
                    <select class="orderstatus" 
                    @onchange="async args => await UpdateOrderStatusFilter(args)">
                        <option value="ALL">All</option>
                        <option value="DISPATCHED">Dispatched</option>
                        <option value="CONFIRMED">Not dispatched</option>
                    </select>
                </div>
            </div>
        }
    </div>
</div>

@if (ordersToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!ordersToShow.Any())
{
    <p>
        <em>No orders to show. Please change the filter and/or wait for new orders.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Order ID</th> <th>Order date and time</th> <th>Dispatched?</th> <th>Username</th> <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ordersToShow)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.date</td>
                <td>
                    <Toggle IsDispatched="@ConvertStatusToBoolean(item.status)" Callback="@(b => ToggleStatus(b, item))"/>
                </td>
                <td>
                    @item.username
                </td>                
                <td>
                    <img src="img/document.png" class="icon" @onclick="@(() => ShowOrderDetails(item))"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a href="https://www.flaticon.com/free-icons/document" title="document icons">Document icons created by Freepik - Flaticon</a>
}
@if (!string.IsNullOrEmpty(errorLabel))
{
    <label style="color: red">@errorLabel</label>
}
@if (showModalWithOrderDetails)
{
    <Modal>
        <h3>Order details</h3>
        <hr/>
        <p>Here comes the order details... To be implemented from another user story.</p>
        <p>This is the order number: @orderToView.id, and username: @orderToView.username ,
            which later will be used to request the user and order details from database</p>
        
        <!-- must include both: customer details and order lines -->
        
        
        
        @if (!string.IsNullOrEmpty(editErrorLabel))
        {
            <div>
                <label style="color:red">@editErrorLabel</label>
            </div>
        }
        <div style="margin-top: 15px">
            <button style="margin: auto" @onclick="@(() => showModalWithOrderDetails = false)">OK</button>
        </div>
    </Modal>
}

@if (showModalGeneralInfo)
{
    <Modal>
        <h3>This feature will be implemented with another user story.</h3>
        <div style="margin-top: 15px">
            <button style="margin: auto" @onclick="@(() => showModalGeneralInfo = false)">OK</button>
        </div>
    </Modal>
}

@code {
    string errorLabel = "";

    // filtering feature
    private ICollection<OrdersDTO> ordersToShow;
    
    private string? orderStatusFilter;
    private bool doShowFilters;
    
    private bool showModalWithOrderDetails;
    private bool showModalGeneralInfo;
    private OrdersDTO orderToView = new();
    private string editErrorLabel = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        OpenCloseFilters();
        orderStatusFilter = "ALL";
        await ApplyFilters();
    }
    
    private bool ConvertStatusToBoolean(string status)
    {
        if (status.Equals("DISPATCHED")) return true;
        return false;
    }
    
    private async Task ToggleStatus(bool toggleBoolean, OrdersDTO order)
    {
        showModalGeneralInfo = true;
        errorLabel = "";
        if (toggleBoolean) order.status = "DISPATCHED";
        else order.status = "CONFIRMED";
        try
        {
            // TODO: the commented method below shall be uncommented when the dao.UpdateOrder() starts working.
            // this shall be done when implementing another user story
            //await dao.UpdateOrder(order);
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
        }
        ApplyFilters();
    }

    private void OpenCloseFilters()
    {
        doShowFilters = !doShowFilters;
        if (!doShowFilters)
        {
            orderStatusFilter = "ALL";
    // ordersToShow = allOrders;
        }
    }
    
    private async Task UpdateOrderStatusFilter(ChangeEventArgs args)
    {
        orderStatusFilter = (string) args.Value;
        await ApplyFilters();
    }
    
    private async Task ApplyFilters()
    {
        if (orderStatusFilter!.Equals("ALL"))
        {
            ordersToShow = await dao.GetAllOrdersAsync();
            Console.WriteLine("Orders to show: " + ordersToShow.Count);
        }
        else
        {
            ordersToShow = await dao.GetOrdersByStatusAsync(orderStatusFilter);    
        }
        // in case we can't implement the method "GetOrderByStatusAsync()" we can get away with just GetAllOrders().
    }
    
    private void Edit(int itemId)
    {
        navMgr.NavigateTo($"EditTodo/{itemId}");
    }
    
    private void ShowOrderDetails(OrdersDTO order)
    {
        orderToView = order;
        showModalWithOrderDetails = true;
    }
}