// OrderList.razor
@page "/"
@inject IOrderService OrderService
@inject NavigationManager navMgr
@using BlazorClient.Services
@using ModelClasses
@inherits OrderListBase


<h3>OrderList</h3>
@if (Orders == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var order in Orders)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@order.id @order.description @order.amount @order.delivered</h3>
                </div>

                <div class="card-footer text-center">
                    <button type="button" class="btn btn-danger m-1" @onclick="@(()=>DeleteOrder(@order.id))">Delete</button>
                </div>
            </div>
        }
    </div>
    <div>
        <div class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
                    @bind="OrderToCreate.id" />
            <label class="form-label" for="form3Example3">Enter long ID</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
                    @bind="OrderToCreate.description" />
            <label class="form-label" for="form3Example3">Enter String Description</label>
        </div>
        <div class="form-outline mb-4">
            <input type="number" id="form3Example3" class="form-control form-control-lg"
                    @bind="OrderToCreate.amount" />
            <label class="form-label" for="form3Example3">Enter Double Amount</label>
        </div>
        <div class="form-outline mb-4">
            <input type="radio" name="delivered"  value="true" @onchange="OnChange"/>Has been delivered
            <br/>
            <input type="radio" name="delivered" value="false" @onchange="OnChange"/>Has <b>NOT</b> been delivered
        </div>
         <button type="button" class="btn btn-primary btn-lg" @onclick="() => CreateOrder(OrderToCreate)">Create new</button>
    </div>
}